<main>		
	<div class="container">
		<h1>Welcome to Fund Impact</h1>

		<h2>Cause-based matchmaking of social good companies and impact investors.</h2>

		<!-- <p>Companies that have been matched and gotten funded here</p> -->

		<p>Search bar for searching by cause/name/location/other info</p>

		<p>Popular causes to search by</p>
			<ul>
				[ruby block for each cause display]
				<li>
					Cause #1 [todo insert clickable array of each cateogry from category array] 
				</li>
				[end]
			</ul>

		<p>Featured companies</p>
		<ul>[companies.all.each ... 
			<div>
				<li><p>[Company.name]</p>
				<p>[company.cause]</p>
			</li>
			
			</div>
		</ul>

		<p>Be alerted when a company with your cause comes up.</p>

		<button class="btn btn-success text-center">Alert Me<div class="hidden"> of new impact companies</div></button>

	</div><!-- end .container -->
</main>